*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.head{
    background-image:url(images/donation13.jpg);
    background-size: cover;
    height: 650px;
    background-repeat: no-repeat;
}
.head-content{
    color: #fff;
    height: 400px;
    width: 900px;
    position: relative;
    top: 150px;
    left: 400px;
    line-height: 80px;
}
.content-heading{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
}
.content-des{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 90px;
}
.donate{
    width: 190px;
    height: 65px;
    border-radius: 5px;
    border: none;
    background-color: #FF5959;
    color: #fff;
    font-weight: bold;
    position: relative;
    left: 330px;
    cursor: pointer;
}
.sec1{
    text-align: center;
    width: 900px;
    margin: 0 auto;
}
.sec1 h1{
    margin-top: 90px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 22px;
}
.sec1 p{
    font-size: 18px;
    color: #707070;
}
.tks {
    display: flex;
    margin-top: 70px;
    
}
.tk{
    margin:0 auto;
    border: 2px solid orangered;
    padding: 25px 35px;
    border-radius: 5px;
    margin-bottom: 99px;
    background-color: #FFEEEE;
    cursor: pointer;
}
.tk:hover{
    color: #fff;
    background-color: orangered;
}
.sec1-donate{
    width: 170px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #FF5959;
    color: #fff;
    font-weight: bold;
    position: relative;
    margin-top: 35px;
}
.sec2-title{
    margin-top: 90px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
}
.sec2-description{
    text-align: center;
    width: 900px;
    margin: 0 auto;
    color: #707070;
    margin-bottom: 70px;
}
.plan-container{
    display: flex;
    gap: 30px;
    align-items: center;
}
.plan1{
    margin-left: 280px;
    background-color: 
    #bccfd1;
    padding: 35px;
    border-radius: 7px;
    height: 320px;
    width: 290px;
}
.plan2{
    padding: 35px;
    background-color: #eadada;
    border-radius: 7px;
    height: 320px;
    width: 290px;
}
.plan3{
    margin-right: 220px;
    background-color: #f8f5c6;
    padding: 35px;
    border-radius: 7px;
    height: 320px;
    width: 290px;
}
.plan-title{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.plan-description{
    font-size: 18px;
    line-height: 24px;
    color: #707070;
}
.contribute-btn{
    height: 59px;
    width: 225px;
    border-radius: 5px;
    border: none;
    background-color: #FF5959;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 280px;
    margin-top: 30px;
}
.sec3-container{
    display: flex;
    gap: 200px;
    
}
.text h1{
    margin-top: 90px;
    font-size: 40px;
    width: 440px;
    padding-bottom: 22px;
    margin-left: 280px;
}
.text p{
    width: 500px;
    position: relative;
    left: 280px;
    font-size: 18px;
    color: #707070;
}
.sec3-container img{
    max-width: 100%;
    max-height: 100%;
}

.image{
    width: 500px;
    height: 400px;
    margin-top: 90px;
}

.text2 h1{
    font-size: 40px;
    width: 440px;
    position: relative;
    left: 410px
}
.text2 p{
    width: 500px;
    font-size: 18px;
    color: #707070;
    position: relative;
    left: 410px;
}
.sec4-container img{
    max-width: 100%;
    max-height: 100%;
}
.sec4-container{
    display: flex;
    margin-top: 30px;
}
.text2 .contribute-btn{
    position: relative;
    left: 128px;
}
.image2{
    width: 500px;
    height: 400px;
    position: relative;
    left: 270px;
    padding-top: 23px;
}
.sec5-title{
    font-size: 33px;
    text-align: center;
}
.sec5-des{
    text-align: center;
    width: 900px;
    margin: 0 auto;
    color: #707070;
    margin-bottom: 70px;
}
